@model IEnumerable<StudentSystem.Clients.Mvc.ViewModels.Course.CourseViewModel>

<h1>
    Manage courses
</h1>

<hr />

@(Html.ActionLink<CourseController>("Add", c => c.Create(), null, new { @class = "btn btn-default" }))

<div>
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.Name).Titled("Name");
        columns.Add()
            .Sanitized(false)
            .Encoded(false)
            .SetWidth(50)
            .RenderValueAs(c => Html.ActionLink<CourseController>("Edit",
                                                                   e => e.Edit(c.Id),
                                                                   null,
                                                                   new { @class = "btn btn-default" }));
        
        columns.Add()
            .Sanitized(false)
            .Encoded(false)
            .SetWidth(50)
            .RenderValueAs(c => Html.ActionLink<CourseController>("Delete",
                                                                   d => d.Delete(c.Id),
                                                                   null,
                                                                   new
                                                                   {
                                                                       @class = "btn btn-danger",
                                                                       onclick = "return confirm('Are you sure you want to delete this course?');"
                                                                   }));
    })
</div>